.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.board {
  width: 1210px;
  height: 610px;
  background-image: url("../../images/rotate_132.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.length {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%) rotate(270deg);
}
.width {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, -50%);
}
